.Rproj.user
.Rhistory
.RData
.Ruserdata
biodiversity_model/TO_DELETE/.RDataTmp
biodiversity_model/TO_DELETE/.RDataTmp1
biodiversity_model/TO_DELETE/clean_input_list.R
biodiversity_model/TO_DELETE/filter_input_list.R
biodiversity_model/TO_DELETE/ODMAP_document_function.R
biodiversity_model/TO_DELETE/save_of_list.RDS
biodiversity_model/TO_DELETE/sdm_odmap.docx
biodiversity_model/TO_DELETE/uc-ces.Rproj
biodiversity_model/TO_DELETE/untitled.RDS
biodiversity_model/untitled.tif
biodiversity_model/biodiversity_model.Rproj
biodiversity_model/GBIF_data/*
biodiversity_model/inputs/upscaled_scotland
biodiversity_model/GBIF_data_red_squirrel
biodiversity_model/temp.r
biodiversity_model_validation/cairngorms_boundary
biodiversity_model_validation/ces_data
biodiversity_model_validation/p drive data
biodiversity_model_validation/references
biodiversity_model_validation/vegetation_data
biodiversity_model/inputs/
results/
biodiversity_model/pwd.txt
